__pycache__/
*.py[codz]
*.so
*.egg-info/
*.egg
MANIFEST
.Python
build/
dist/
.env
.envrc
.venv
env/
venv/
*.log
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.idea/
.vscode/
tempCodeRunnerFile.py
.ruff_cache/

*.pth
*.pt
*.ckpt
*.onnx
*.h5
*.param
*.bin

output/
output_*/
runs/
runs_*/
predictions/
predictions_*/
logs/

*.zip
*.tar
*.tar.gz
*.7z
data/**/images/
data/**/masks/
data/public*/
data/smartphone*/

*.pdf
_refs/
_tmp_*
*.bak
